body {
  background-color: #fafafa;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.items {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  flex: 1;
  border: 0.5px solid rgba(57, 57, 57, 0.3);
  cursor: pointer;
  background-color: white;
}

.fake-img {
  width: 200px;
  height: 150px;
  background-color: #fafafa;
}

.info-item {
  padding-left: 25px;
  border-bottom: none;
}

.title-item {
  color: #356ba8;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 15px;
  text-transform: capitalize;
}

.price-item {
  color: #f16b3f;
  font-weight: 700;
}
